<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Backups'; goBackToState = true">
</div>


<div class="content preferences bgwhite" ng-controller="wordsController as wordbacksC">
    <div class="chatbgcolorheight"></div>
    <!--<div class="box-notification" ng-show="wordbacksC.error">-->
    <!--<span class="text-warning">-->
    <!--{{wordbacksC.error|translate}}-->
    <!--</span>-->
    <!--</div>-->

    <!--<div>-->
    <!--<div class="row">-->
    <!--<div class="m10t columns size-14 text-gray">-->
    <!--<span translate>Just the wallet seed is not enough.  With the seed alone, you won't be able to restore multisig wallets and private assets such as blackbytes.</span>-->
    <!--<br><br>-->
    <!--<span translate>To be able to restore everything, please create a full backup (find the option in the menu)</span><span ng-if="!wordbacksC.isCordova"> </span><span ng-if="!wordbacksC.isCordova" translate>or backup all InterValue data at</span><span ng-if="!wordbacksC.isCordova"> {{wordbacksC.appDataDir}}</span>.-->
    <!--<br><br>-->
    <!--<span translate>Better yet, use multisig wallets with redundancy, </span>-->
    <!--<span ng-if="!wordbacksC.isCordova" translate>e.g. 1-of-2 wallet with one key on this device and another key on your smartphone.</span>-->
    <!--<span ng-if="wordbacksC.isCordova" translate>e.g. 1-of-2 wallet with one key on this device and another key on your laptop computer.</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row m20t" ng-show="wordbacksC.deleted">-->
    <!--<div class="columns size-14 text-gray text-center" translate>-->
    <!--Wallet seed not available.-->
    <!--</div>-->
    <!--</div>-->
    <div ng-show="!wordbacksC.mnemonicWords || (!wordbacksC.credentialsEncrypted && wordbacksC.deleted)">
        <div class="setdeletecordsdiv">
            <div class="setdeletecordsimg">
                <img src="./img/chatdelete.png"/>
                <!--<i class="iconfont icon-lajitong"></i>-->
            </div>
            <div class="setdeletecordstext" translate>The wallet password has been deleted</div>
        </div>
    </div>
    <div ng-show="wordbacksC.mnemonicWords || (wordbacksC.credentialsEncrypted && !wordbacksC.deleted)">
        <div class="rowbackup">
            <!--<div class="m10t columns">-->
            <!--<a class="button outline light-gray expand tiny" ng-click="wordbacksC.toggle()">-->
            <!--<i class="fi-widget m3r"></i>-->
            <!--<switch translate ng-hide="wordbacksC.show" ng-click="wordbacksC.toggle()">Show the Wallet Seed Anyway</switch>-->
            <!--<switch translate ng-hide="!wordbacksC.show">Hide the Wallet Seed</switch>-->
            <!--<i ng-if="!wordbacksC.show" class="icon-arrow-down4"></i>-->
            <!--<i ng-if="wordbacksC.show" class="icon-arrow-up4"></i>-->
            <!--</a>-->
            <!--</div>-->

            <div class="size-14" style="background: #FFFFFF;border:0px;width: 100%;display:flex;padding: 10px 18px 4px;">
                <div translate style="font-size: 16px;width:100%;" ng-hide="wordbacksC.show">Show wallet seed</div>
                <div translate style="font-size: 16px;width:100%;" ng-hide="!wordbacksC.show">Hide wallet seed</div>
                <a style="margin-top:4px;" ng-click="wordbacksC.toggle()">
                    <switch translate ng-hide="wordbacksC.show" ng-model="autoUpdWitnessesList" class="green right settingpopbtnl">Show the Wallet Seed Anyway</switch>
                    <switch translate ng-hide="!wordbacksC.show" ng-model="autoUpdWitnessesList" class="green right settingpopbtnl">Hide the Wallet Seed</switch>
                </a>
            </div>
        </div>
        <div ng-show="wordbacksC.show">
            <div class="chatbgcolorheight"></div>
            <div class="rowbackup p18 size-14 addcolorred bgwhite"  >

                <span translate style="margin-top: 20px;">The wallet password</span><br/>
                <span translate>It is highly recommended that you write your password on paper and have a safe place, do not take screenshots or take photos, and do not use the same password on multiple devices.Once you have written your wallet password, it is recommended to remove the password from the device.</span>
            </div>
        </div>
        <div class="rowbackup" ng-show="wordbacksC.show">
            <div style="background:white;-webkit-user-select: text;padding-left: 20px;color: #B4B2B3" ng-class="{'enable_text_select': index.network == 'testnet'}">
                <span ng-repeat="word in wordbacksC.mnemonicWords track by $index"><span style="white-space:nowrap">{{word}}</span><span ng-show="wordbacksC.useIdeograms">&#x3000;</span> </span>
            </div>
        </div>

        <div class="rowbackup p18h p20b p20t bgwhite" ng-show="wordbacksC.show && wordbacksC.mnemonicHasPassphrase">
            <div>
          <span class="size-12">
            <i class="fi-alert"></i>
            <span translate>
            WARNING: This seed was created with a passphrase. To recover this wallet both the mnemonic and passphrase are needed.
            </span>
          </span>
            </div>
        </div>

        <div class="rowbackup p18h p20b p20t bgwhite" ng-show="wordbacksC.show">
            <div class="text-center">
                <div class="size-12" style="color: #E75A47;display:flex;">
                    <img src="./img/jinggao.png" style="margin-right: 8px; margin-bottom: 2px;width:18px;height:18px;flex-shrink:0;"/>
                    <span translate style="width:100%;text-align:left;">Once you have written your wallet password, it is recommended to remove the password from the device.</span>
                </div>
                <button class="addblackbutton m32t" ng-click="wordbacksC.deleteback()" translate>
                    Delete your wallet password
                </button>
            </div>
        </div>

    </div>

</div>
<div class="extra-margin-bottom"></div>
