<!-- 使用条款页面 -->
<style>
	ul {
		list-style: none;
		counter-reset: count;
	}

	li:before {
		content: "• ";
		color: #3498DB;
	}

</style>
<!-- 使用条款 -->
<div ng-controller="disclaimerController" ng-init="init()">
	<div
		ng-if="agreed && index.hasProfile"
		class="topbar-container"
		ng-include="'views/includes/topbar.html'"
		ng-init="titleSection='Terms of Use';  goBackToState = true; noColor = true">
	</div>

	<div class="ontent-setup-disclaimer p20b" style="background-color: #eceff6;position:static">
		<div class="chatbgcolorheight ng-scope"></div>
		<h4 class="m0 center" ng-show="!index.hasProfile" style="background-color: #eceff5;height: 50px;font-size: 14px;text-align: center !important;" >
			<div >
				<a><img src="./img/INVE.png" alt="icon" height="38px" width="32px"style="padding-bottom: 7px;"></a>
				<div style="display: inline;color: black;text-align: center;font-size: 14px"  translate>InterValue Terms of Use</div>
			</div>
		</h4>
		<div style="padding: 0 18px">
			<div style="background-color: #FFFFFF;padding: 1px 5px 5px 1px;border-radius: 8px">
				<div style="overflow: auto;height: 420px;">
					<p class="enable_text_select">
					<ul style="font-size: 13px;">
						<li translate>The software you are about to use functions as a free and open source digital wallet.</li>
						<li translate>The software does not constitute an account where the developer of this software or other third parties serve as financial intermediaries or custodians of your INVE or other valuables.
						</li>
						<li translate>While the software has undergone beta testing and continues to be improved by feedback from the open-source user and developer community, we cannot guarantee that there will be no bugs in the software.
						</li>
						<li translate>You acknowledge that your use of this software is at your own discretion and in compliance with all applicable laws.
						</li>
						<li translate>You are responsible for safekeeping your passwords, private key pairs, PINs and any other codes you use to access the software.
						</li>
						<li translate><b>If YOU LOSE ACCESS TO YOUR INTERVALUE WALLET, YOU ACKNOWLEDGE AND AGREE THAT ANY INVE OR OTHER VALUABLES YOU HAVE ASSOCIATED WITH THAT INTERVALUE WALLET WILL BECOME INACCESSIBLE.</b>
						</li>
						<li translate>All transaction requests are irreversible.</li>
						<li translate>The authors of the software cannot retrieve your private keys or passwords if you lose or forget them and cannot guarantee transaction comfirmation as they do not have control over the InterValue network.
						</li>
						<li translate>To the fullest extent permitted by law, this software is provided "as is" and no representations or warranties can be made of any kind, express or implied, including but not limited to the warranties of merchantability, fitness or a particular purpose and noninfringement.
						</li>
						<li translate>You assume any and all risks associated with the use of the software.</li>

					</ul>
					</p>
				</div>
			</div>

			<!-- 初次配置显示同意按钮 -->
			<div ng-show="!agreed" >
				<button style="background-color:#236d97;width: 100%;margin-top: 30px;font-size: 16px;padding:0;height:45px;line-height:45px;margin-bottom:0;" class="#236d97 round tiny"  ng-click="agree()" ng-disabled="loading" translate>
					Agree
				</button>
			</div>
			<!-- 已配置过但是没有个人配置信息，则显示后退 -->
			<button style="background-color:#236d97;width: 100%;" ng-show="agreed && !index.hasProfile" class="#236d97 round tiny m15t" ng-click="agree()" translate>
				Go back
			</button>
		</div>
		<div class="extra-margin-bottom" style="height: 18px"></div>
	</div>
</div>
