<div
    class="topbar-container"
    ng-include="'views/includes/topbar.html'"
    ng-init="titleSection='Language'; goBackToState = true; noColor = true">
</div>

<!-- 语言设置视图 -->
<div class="content preferences" ng-controller="preferencesLanguageController as prefLang"  style="background: #ECEFF6;">
    <ul class="no-bullet m0 " style="margin-top: 20px;">
        <li ng-repeat="lang in prefLang.availableLanguages"
            ng-click="prefLang.save(lang.isoCode)" class="line-b p20 size-14">
            <span style="font-size: 16px;">{{lang.name}}</span>
            <i class=" size-16 right" ng-show="index.defaultLanguageIsoCode == lang.isoCode"><img
                    src="./img/guoxuan.png"  width="25"/></i>
        </li>
    </ul>
</div>
<div class="extra-margin-bottom"></div>
