<div
	class="topbar-container"
	ng-include="'views/includes/topbar.html'"
	ng-init="titleSection='receive address'; closeToHome = true; noColor = true">
</div>


<div ng-controller="walletHomeController as home" style="background-color: #eceff5" ng-click="hiderightpop($event)">
	<div class="chatbgcolorheight"></div>
	<!-- 如果需要备份，则... -->
	<div ng-show="index.needsBackup" class="p60t row text-center">
		<div class="large-12 columns">
			<div class="text-warning text-bold m15b">
				<i class="fi-alert"></i>
				<span translate>WARNING: Backup needed</span>
			</div>
			<div class="text-gray" translate>
				Before receiving funds, it is highly recommended you backup your wallet keys.
			</div>

			<button class="m20t button black expand round"
					ng-click="$root.go('preferencesGlobal.backup')"
					ng-style="{'background-color':index.backgroundColor}">
				<span translate>Backup now</span>
			</button>
		</div>
	</div>
	<!-- 如果不需要备份，则... -->
	<div ng-show="!index.needsBackup">
		<div >
			<div class="large-12">
				<div class="chatamounttranqrr">
					<!-- 我的钱包地址 -->
					<h2 class="size-14 amounttranqrtitler"  translate>My INVE address</h2>
				<!-- 地址二维码 -->
				<div class="code">
					<div class="box-notification" ng-show="home.addrError">
						<span class="text-warning">{{home.addrError|translate}}</span>
					</div>
					<div class="text-center"
						 ng-click="home.copyAddress(index.shared_address || home.addr[index.walletId])"
						 ng-show="home.addr[index.walletId] || home.generatingAddress">
						<qrcode size="135"
								data="{{home.protocol}}:{{index.shared_address || home.addr[index.walletId]}}"></qrcode>
						<div ng-show="home.generatingAddress" style="position:relative; top:-226px; height:0px">
							<div style="height:220px; width:220px; margin:auto; background: url(img/qr.png) white">
								<div class="spinner" style="margin-top:80px;margin-bottom: 30px">
									<div class="rect1"></div>
									<div class="rect2"></div>
									<div class="rect3"></div>
									<div class="rect4"></div>
									<div class="rect5"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="text-center" style="margin-top: 30px;">
					<div class="chatline-t"></div>
					<h4 ng-class="{'enable_text_select': !index.isCordova}" class="size-12" style="display: inline-block;margin: 0;color:#a0a0a0;word-break: break-all;padding: 26px 10px;">
						{{index.shared_address || (home.generatingAddress ? '...' :
						home.addr[index.walletId])}}
					</h4>
				</div>


			</div>
				<!-- 分享地址 -->
				<div ng-show="home.addr[index.walletId]" style="margin: 30px 18px 10px 18px;color:#a0a0a0;">
					<!--<div class="m10t text-center" ng-show="index.isCordova">-->
						<!--<div class="m10t text-center" ng-show="true">-->
						<!--<span class="button outline dark-gray tiny round"-->
							  <!--ng-click="home.shareAddress(home.addr[index.walletId])">-->
										<!--<i class="fi-share"></i>-->
										<!--<span translate>Share address</span>-->
									<!--</span>-->
					<!--</div>-->
					<div class="size-12 text-center">
						<span ng-if="index.shared_address" translate>This address is shared with {{index.shared_address_cosigners}}.</span>
						<span ng-if="!index.shared_address" translate>Share this wallet address to receive payments.</span>
						<span ng-if="!index.shared_address && 0" translate>To protect your privacy, new addresses are generated automatically once you use them.</span>
					</div>
				</div>
			</div>
		</div>

		<!-- 生成新地址，刘星删除 -->
		<!--<div class="row m20t" ng-if="!index.shared_address && !index.isSingleAddress">-->
		<!--<div class="large-12 columns">-->
		<!--<button class="button black expand round m0" ng-click="home.setAddress(true)"-->
		<!--ng-style="{'background-color':index.backgroundColor}"-->
		<!--ng-disabled="home.blockUx || index.isOffline ||home.generatingAddress" translate>-->
		<!--Generate new address-->
		<!--</button>-->
		<!--</div>-->
		<!--</div>-->

		<div class="text-center p20h">

			<div ng-show="!agreed" >
				<button style="width: 100%;height:50px;line-height: 50px;padding: 0;background-color: #246d98;" class="round  size-16"  ng-click="home.shareAddress(home.addr[index.walletId])" ng-disabled="loading" translate>
					Share address
				</button>
			</div>

			<div ng-show="!agreed" >
				<button style="width: 100%;height:50px;line-height: 50px;padding: 0;background-color: #FFFFFF;border: 1px solid #2fa1d2;color: #2fa1d2" class="round tiny m19t size-16"  ng-click="home.openCustomizedAmountModal(index.shared_address || home.addr[index.walletId])" ng-disabled="loading" translate>
					Request a specific amount
				</button>
			</div>

			<!-- 要求特定金额 -->
			<div class="text-center hor-link" ng-show="!home.generatingAddress && home.addr[index.walletId]"
				 ng-style="{'max-width' : '100%' }">
				<!--ng-style="{'max-width' : (index.shared_address ? '100%' : '45%')}">-->
				<a class="size-14"
				   ng-click="home.openCustomizedAmountModal(index.shared_address || home.addr[index.walletId])"
				   ng-style="{'color':index.backgroundColor}">
					<span translate></span>
				</a>
			</div>
			<!-- 使用textcoin索要资金，刘星删除 -->
			<!--<div class="text-center hor-link" ng-show="!home.generatingAddress && home.addr[index.walletId]"-->
			<!--ng-if="!index.shared_address">-->
			<!--<a class="size-14" ng-click="home.openClaimTextcoinModal(home.addr[index.walletId])"-->
			<!--ng-style="{'color':index.backgroundColor}">-->
			<!--<span translate>Claim funds using textcoin</span>-->
			<!--</a>-->
			<!--</div>-->
		</div>
	</div>
</div>
<!--<div ng-include="'views/includes/menu.html'" ng-show="!index.noFocusedWallet"></div>-->
