<!-- 收款地址簿管理视图 -->
<div ng-init="(wallets[0] || !bAllowAddressbook) ? selectedWalletsOpt = true : selectedWalletsOpt = false">
    <!-- 顶部导航栏 -->
    <nav class="tab-bar dealingtab">
        <!-- 左区 -->
        <section class="left-small"  style="font-size: 16px!important; color: #fff!important;">
            <a ng-show="!editAddressbook && !addAddressbookEntry" ng-click="cancel()" class="chatpaddingleffi">
                <img src="./img/chatbackstate.png" style="width: 16px !important;height: 16px !important;margin-top: -3px  !important;margin-left: 3px  !important;margin-right: -1px  !important;">
                <span  style="color: #fff" translate>Back</span>
            </a>
            <a ng-show="addAddressbookEntry" ng-click="newAddress = ''; toggleAddAddressbookEntry()" class="chatpaddingleffi">
                <img src="./img/chatbackstate.png" style="width: 16px !important;height: 16px !important;margin-top: -3px  !important;margin-left: 3px  !important;margin-right: -1px  !important;">
                <span l style="color: #fff" translate>Back</span>
            </a>
        </section>

        <!-- 中区 -->
        <section class="middle tab-bar-section">
            <h1 class="title ellipsis" style="font-size: 16px; color: #fff" translate>
                Addressbook
            </h1>
        </section>

        <!-- 右区：编辑、完成、二维码 -->
        <section class="right-small" ng-show="!selectedWalletsOpt"  style="font-size: 16px!important; color: #fff!important;">
            <!-- 非编辑状态且不是添加地址时，显示编辑功能 -->
            <a ng-show="!editAddressbook && !addAddressbookEntry" href class="chatpaddingleffi" ng-click="toggleEditAddressbook()" style="color: #fff;">
                <span  translate style="margin-right: 15px;">Edit</span>
            </a>
            <!-- 编辑状态且不是添加地址时，显示完成功能 -->
            <a ng-show="editAddressbook && !addAddressbookEntry" href class="chatpaddingleffi" ng-click="toggleEditAddressbook()" style="color: #fff; margin-right: 15px;">
                <span translate>Done</span>
            </a>
            <!-- 添加地址页面时，显示扫一扫功能 -->
            <a ng-show="addAddressbookEntry">
                <qr-scanner on-scan="topbar.onQrCodeScanned(data)" before-scan="topbar.onBeforeScan()" >
                    <img src="./img/chatscannerd.png" style="width: 25px;margin: 10px;">
                </qr-scanner>
            </a>
        </section>
    </nav>

    <!-- 主视图 -->
    <div class="modal-content fix-modals-touch">
        <div ng-show="selectedWalletsOpt">
            <div class="onGoingProcess" ng-if="gettingAddress">
                <div class="onGoingProcess-content dealingadd" ng-style="{'background-color':'#222'}" >
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <span translate> Getting address for wallet {{selectedWalletName}} ...</span>
                </div>
            </div>

            <div ng-if="!gettingAddress">
                <ul class="no-bullet">
                    <li class="line-b" ng-repeat="w in wallets">
                        <a ng-click="selectWallet(w.id, w.name)" class="db oh">
                            <div class="avatar-wallet"
                                 ng-style="{'background-color':w.color}">{{(w.name || w.id) | limitTo: 1}}
                            </div>
                            <div class="ellipsis name-wallet text-bold">{{w.name || w.id}}</div>
                            <div class="size-12">{{w.m}} of {{w.n}}
                                <span ng-show="w.network=='testnet'">[Testnet]</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 收款地址管理 -->
        <div ng-show="!selectedWalletsOpt">
            <!-- 非添加地址页面时，显示收款地址列表 -->
            <ul ng-show="!addAddressbookEntry" class="no-bullet m0 chattranaddaddr" ng-init="listEntries()">
                <!-- 收款地址列表 -->
                <li class="line-b" ng-repeat="(addr, label) in list" style="background-color: #fff;padding:4px 18px;">
                    <div ng-click="selectAddressbook(addr)">
                        {{label}}
                        <div class="size-10 text-gray ellipsis">{{addr}}</div>
                    </div>
                    <!-- 选定地址，则可以删除 -->
                    <a ng-show="selectedAddressbook[addr]" class="removeAddressbook" ng-click="remove(addr)" translate>Remove</a>
                    <!-- 编辑状态，则可选定地址 -->
                    <a class="selectAddressbook" ng-show="editAddressbook"
                       ng-click="remove(addr)" style="float: right;position: relative;top: -48px;left: 21px;" >
                        <img src="img/lajitong-icon@3x.png" width="20" >
                    </a>
                    <!--ng-click="toggleSelectAddressbook(addr)" style="float: right;position: relative;top: -48px;left: 21px;" >-->
                </li>
                <!-- 非编辑状态，则显示“添加地址”入口 -->
                <li ng-show="!editAddressbook" style="background-color: #fff;margin-top:20px;">
                    <a ng-click="toggleAddAddressbookEntry()" class="p10 dealingherf" style="padding: 10px 19px;">
                        <!--<i class="fi-plus size-18 m10r"></i>-->
                        <img src="img/add.png" width="24"style="margin-top: -3px;margin-right: 0.5rem;" >
                        <span class="text-close size-12" style="font-size: 16px;color: #282828" translate>Add a new entry</span>
                        <span ng-show="!list[newAddress] && newAddress">({{newAddress}})</span>
                        <img  class="chatarrow" src="img/chatltyou.png"  style="margin-top: 3px;float: right" >
                    </a>
                </li>
            </ul>

            <!-- 添加收款地址页面 -->
            <div ng-show="addAddressbookEntry">
                <form name="addressbookForm" class="p10" no-validate style="padding: 0;">
                    <!-- 校验及错误信息 -->
                    <div class="text-warning size-12 m10b" ng-show="error" style="padding-left:20px;">{{error|translate}}</div>
                    <span ng-hide="addressbookForm.address.$pristine">
                        <!--<span class="has-error right size-12" ng-show="addressbookForm.address.$invalid && addressbook.address" style="position: absolute!important;top: 9.5rem!important;left: 10rem!important;">-->
                        <!--<i class="icon-close-circle size-14"></i>-->
                        <!--<span class="vm" translate>Not valid</span>-->
                        <!--</span>-->
                        <!--<small class="right text-primary" ng-show="!addressbookForm.address.$invalid" style="display: none">-->
                        <!--<i class="icon-checkmark-circle size-14"></i>-->
                        <!--</small>-->
                    </span>
                    <!-- 地址 -->
                    <div class="dealinginput">
                        <img src="img/qianbao-icon@3x.png" style="   width:20px;height:20px;margin-right: 0.8rem;">
                        <span style="font-size: 16px;"translate>Address</span>
                        <input type="text" id="address" name="address" ng-model="addressbook.address"
                               placeholder="{{'Wallet address'|translate}}" valid-address required>
                    </div>
                    <!-- 名称 -->
                    <div class="dealinginput">
                        <img src="img/biaoqian-icon@3x.png" style="   width:20px;height:20px;margin-right: 0.8rem;">
                        <span style="font-size: 16px;" translate>Label</span>
                        <input type="text" id="label" name="label" ng-model="addressbook.label"
                               placeholder="{{'Name of the contact'|translate}}" required>
                    </div>
                    <!-- 按钮 -->
                    <div class="" style="margin-top:30px;">
                        <!-- 保存 -->
                        <!--<div class="columns large-6 medium-6 small-6" >-->
                        <!--<i ico></i>-->
                        <!--<input type="submit"-->
                        <!--class="button expand round"-->
                        <!--value="{{'Save'|translate}}"-->
                        <!--ng-disabled="!addressbookForm.$valid"-->
                        <!--ng-click="newAddress = ''; add(addressbook)"-->
                        <!--style="background-color: #236d97!important;opacity: 1;height: 44px;padding: 9px;">-->
                        <!--</div>-->
                        <!-- 取消 -->
                        <!--<div class="columns large-6 medium-6 small-6">-->
                        <!--<input type="button"-->
                        <!--class="button expand outline dark-gray round"-->
                        <!--ng-click="newAddress = ''; toggleAddAddressbookEntry()"-->
                        <!--value="{{'Cancel'|translate}}"-->
                        <!--style="border: 1px solid #236d97;color: #236d97;height: 44px;padding: 9px">-->
                        <!--</div>-->
                        <div class="dealingdeleterecordbtn">
                            <input type="submit" class="button round dealingsave"  value="{{'Save'|translate}}"  ng-disabled="!addressbookForm.$valid"  ng-click="newAddress = ''; add(addressbook)">
                            <input type="button" class="button outline dark-gray round dealingcancer" ng-click="newAddress = ''; toggleAddAddressbookEntry()" value="{{'Cancel'|translate}}">
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>
