<div class="passModalMask">
</div>

<div ng-controller="passwordController as pass" class="passModal oh"
     ng-class="{'animated  bounceInDown':index.askPassword}" style="margin-top:118px;">
    <form ng-submit="pass.set(index.askPassword.isSetup, index.askPassword.callback)">
        <!--点击叉号关闭-->
        <span
                style="position: absolute;right: 10px;top: 0px;color: gray;" ng-click="index.password = false">
					<img src="././img/guanbi.png"  width="40" style="padding-top: 1px;" ng-click="pass.close(index.askPassword.callback)"/>
					</span>
        <div class="">
            <label class="" for="password" ng-if="index.askPassword.isSetup"
                   style="text-align: left;background-color: #E6EEF1;height: 40px;padding-top: 10px;padding-left: 50px;font-size: 10pt;">
                <img src="././img/mimays.png" width="20" style="margin-left: -32px;margin-right: 5px;"/><span ng-show="!pass.isVerification" translate style="color: #4781A4;">Set up a password</span>
                <span ng-show="pass.isVerification" translate style="color: #4781A4;">Repeat password</span>
            </label>

            <label class="size-14" for="password" ng-if="!index.askPassword.isSetup" style="text-align: left;background-color: #E6EEF1;height: 40px;padding-top: 10px;padding-left: 50px;font-size: 10pt;">
                <img src="././img/mimays.png" width="20" style="margin-left: -32px; margin-right: 5px;"/><span translate style="color: #4781A4;">Enter your password</span>
            </label>

            <div class="text-warning size-12 m10b" ng-show="index.askPassword.error">
                {{index.askPassword.error|translate}}
            </div>
            <div class="input m20t" style="padding:0 14px;">
                <input type="password" placeholder="{{'Your password'|translate}}"
                       id="passwordInput" name="password" ng-model="pass.password"
                       style="border: 1px solid #B9B9B9;width: 100%;height: 50px;border-radius: 5px;padding-left: 15px;    margin-bottom: 16px;">
            </div>
        </div>
        <!--<div class="row" style="width: 92%;">-->
            <!--<div class="small-6 columns">-->
                <!--<button class="round expand" ng-disabled="!pass.password" style="margin-left: 6%;height: 46px;padding-top: 12px;font-size: 16px;"-->
                        <!--ng-style="{'background-color':'#246D98'}">-->
                    <!--<span ng-if="index.askPassword.isSetup" translate >SET</span>-->
                    <!--<span ng-if="!index.askPassword.isSetup" translate>OK</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="small-6 columns">-->
                <!--<button type="button" class="round small-6 columns outline dark-gray expand" style="margin-left: -9%;height: 46px;padding-top: 12px;font-size: 16px;"-->
                        <!--ng-click="pass.close(index.askPassword.callback)" translate style="border-color:#246D98;">-->
                    <!--CANCEL-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

        <div class="mimachatdeleterecordbtn">
            <button class="round" ng-disabled="!pass.password" style="font-size: 16px;float:left;"
                    ng-style="{'background-color':'#236D97'}">
                <span ng-if="index.askPassword.isSetup" translate >SET</span>
                <span ng-if="!index.askPassword.isSetup" translate>OK</span>
            </button>
            <button type="button" class="round  dark-gray mimatk" style="font-size: 16px;float:right;"
                    ng-click="pass.close(index.askPassword.callback)" translate >
                CANCEL
            </button>
        </div>
        <p class="text-warning size-12 columns m20t text-center" ng-show="!index.askPassword.isSetup" style="margin-bottom:0;"></p>

        <p class="text-warning size-12 columns m20t text-center" ng-show="index.askPassword.isSetup" style="margin-bottom:0;">


            <span translate ng-show="!pass.error" class="xian1" style="padding:16px 0; color: #E96F60;display: block;width: 100%;"> Your wallet key will be encrypted. Password cannot be recovered. Be sure to write it down</span>

            <!--<span translate ng-show="!pass.error && pass.bHasMnemonic">Also, don't forget to delete your seed</span>-->

            <span ng-show="pass.error">{{pass.error|translate}}</span>

    </form>
</div>
