/*
 *
 * InterValue main CSS
 *
 */

@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Thin.ttf') format('truetype');
  font-weight: thin;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: thin;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Light.ttf') format('truetype');
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-LightItalic.ttf') format('truetype');
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('/public/font/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Hiragino';
  src: url('/public/font/Hiragino-Sans-GB-W3.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: Hiragino, Helvetica Neue, Helvetica, Arial, sans-serif;
}


.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
  color: #2C3E50;
}

#qr-canvas { display: none; }
#qrcode-scanner-video {
  display: block;
  margin: 0 auto;
}

.qr-scanner-input {
  position: absolute;
  top: 5px;
  right: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2C3E50;
}

h1 {
  font-weight: 100;
  font-size: 24px;
}

h2 {
  font-size: 20px;
  font-weight: 100;
}
h3 {
  font-weight: 300;
  font-size: 16px;
}

h4, h2 span.small {
  font-size: 0.875rem;
}

h4.title {
  background: #eceff5;
  padding: 0.8rem;
  text-transform: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
}

h4.title a {
  text-transform: none;
  font-weight: 400;
  padding: 7px;
  font-size: 12px;
}

.preferences {
  background: #f1f3f5;
}

.preferences form {
  background: white;
  padding-top:10px;
  margin-bottom: 10px;
}

.preferences .switch {
  top:-5px !important;
}


.preferences h4 {
  background: #F1F3F5;
  padding: 25px 0px 5px 20px;
  text-transform: uppercase;
  color: #555;
  font-size: 12px;
  font-weight:300;
  margin:0;
}


.preferences ul {
  font-size:14px;
  background: white;
}

.preferences ul li, ul.whopays li, ul.profile-entries li {
  padding:13px 20px;
  border-bottom: 1px solid #E9E9EC;
}

#send ul.whopays li:first-child {
  border-top: 1px solid #E9E9EC;
}

.addressbook-input {
  display: block;
  margin-bottom: 1.5rem;
  background-color: #E4E8EC;
  padding-left: 0.5rem;
  color: #2C3E50;
  font-size: 13px;
  height: 35px;
  padding-top: 7px;
}

ul.button-group {
  margin-top: 8px;
}

ul.button-group li:first-child {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  border: 1px solid #DEDFE1;
}

ul.button-group li:last-child {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border: 1px solid #FFFFFF;
}

.button-group.even-2 li {
  margin: 0 -3px;
  padding: 4px 5px;
}

ul.button-group li {
  color: #A5B2BF;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  display: block;
  padding: 3px 0;
}

ul.button-group li.selected {
  color: #fff;
  background-color: #DEDFE1;
}

.modal-content ul.subwallets li.selected {
  color: #7A8C9E;
  background-color: #DEDFE1;
}
.modal-content ul.subwallets li.selected a {
  color: #7A8C9E;
}

body, html{
  height:100%;
  width:100%;
  color: #2C3E50;
  -webkit-user-select: text;
}

.alt-currency {
  padding: 0.05rem 0.2rem;
  border-radius: 2px;
  font-size: 10px;
  color: #fff;
  font-weight: 700;
}

.color-greeni {
  color: #1abc9c !important;
}

.color-yellowi {
  color: yellow !important;
}


.color-alert {
  color: #ED4A43;
}

.alt-currency.green {
  background: #1abc9c;
}

.alt-currency.red {
  background: #A02F23;
}

.alt-currency.black {
  background: #213140;
}

.alt-currency.gray {
  background: #7A8C9E;
}

a {
  color: #3498DB;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill, input:-webkit-autofill:focus, textarea:-webkit-autofill:focus, select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.sub-header {
  background: #F1f3F5;
  padding: 0.8rem;
  overflow: hidden;
}

.status {
  color: #FFFFFF;
  background-color: #A02F23;
  position: absolute;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 10px 1rem 10px 0.5rem;
  z-index: 9;
  font-size: 14px;
  text-align: left;
  line-height: 17px;
}

.status-first-line {
  z-index: 9;
  font-size: 16px;
}

.main-dark {
  background-color: #2C3E50;
  height: 100%;
}

.page, .main {
  height:100%;
  background-color: #fff;
}

.button.small.side-bar {
  padding: 0rem 0.4rem;
}

.waiting {
  border: 2px solid #fff;
}


.online {
  border: 2px solid #1ABC9C;
}

.main {
  background-color: #eceff6;
  padding: 0 0 58px 0;
  position: relative;
}

.content {
  width:100%;
  position: absolute;
  top: 45px;
  bottom: 0;
  overflow: auto;
}
.content-setup-disclaimer {
  width:100%;
  position: absolute;
  /* top: 45px;*/
  bottom: 0;
  overflow: hidden;
}

.content.disclaimer {
  top: 0;
}

.box-setup-footer {
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 0 0;
  border-top: 1px solid #425467;
  font-size: 12px;
}

.box-notification {
  position: relative;
  font-size: 12px;
  padding: 0.5rem 2rem 0.5rem 0.7rem;
  border-radius: 2px;
  background: #F2F5F8;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.box-notification .box-icon {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: #1ABC9C;
  padding:0 0.5rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 100%;
}

.box-notification .box-icon i {
  position: relative;
  top: 10%;
  display: block
}

.box-notification .box-icon.error {
  background-color: #ED4A43;
}

.box-notification .box-icon.secondary {
  background-color: #3498DB;
}

a.close-notification {
  position: absolute;
  top: -4px;
  right: 10px;
  font-size: 24px;
}

ul.tx-copayers {
  background: #E4E8EC;
  padding: 0.3rem 0.8rem;
  margin-left: 0;
  box-shadow: inset 0 1px 1px 0 rgba(10,19,28,.12);
  border-radius: 0 0 3px 3px;
}

.tx-copayers li {
  list-style: none;
  padding: 0.3rem;
  font-size: 12px;
}

.tx-copayers li.bottom-line-copayers {
  border-bottom: 1px solid #CAD2DA;
}

.last-transactions-content {
  padding: 1.5rem 1rem;
  cursor:pointer;
  border-bottom: 1px solid #E4E8EC;
}

.sign-action {
  background: #E4E8EC;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.icon-sign {
  padding: 0.2rem 0.3rem;
  border-radius: 100%;
  color: #fff;
  margin-right: 7px;
}

.icon-sign.check {
  background-color: #3FBC9C;
}

.icon-sign.x {
  background-color: #C0392B;
}

.date-message {
  background-color: #213140;
  border-radius: 3px;
  font-size: 12px;
  padding: 0.2rem 0.4rem;
  color: #7A8C9E;
}

.input-note {
  margin-top: -10px;
  display: block;
  margin-bottom: 1rem;
}

.send-note {
  background-color: #F8F8FB;
  padding: 10px;
}

.send-note span {
  margin-bottom: 5px;
  font-size: 12px;
  color: #2C3E50;
}

.manage a {
  text-transform: uppercase;
  font-weight: 700;
  color: #4B6178;
  padding: 1.5rem 1rem;
  display: block;
  overflow: hidden;
}

.manage a span {
  display: block;
  margin-top: 8px;
  float: left;
}

ul.manage li {
  border-bottom: 1px solid #f1f3f5;
}

.manage a i.circle {
  background-color: #4B6178;
  width: 50px;
  height: 50px;
  padding: 0.65rem;
  border-radius: 100%;
  display: block;
  font-size: 30px;
  color: #fff;
  float: left;
  margin-right: 20px;
}

.manage a i.circle.plus-fixed {
  padding: 0.1rem 0.9rem;
}

.dn {display: none;}
.dni {display: none !important;}
.pr {position: relative;}
.pa {position: absolute;}
.m0 {margin: 0;}
.p0i {padding: 0 !important;}
.db {display: block;}
.size-10 { font-size: 12.5px; }
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-42 { font-size: 42px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.m5 {margin: 5px;}
.m5t {margin-top: 5px;}
.m8t {margin-top: 8px;}
.m5b {margin-bottom: 5px;}
.m5r {margin-right: 5px;}
.m10 {margin: 10px;}
.m10b {margin-bottom: 10px;}
.m10t {margin-top: 10px;}
.m15b {margin-bottom: 15px;}
.m15r {margin-right: 15px;}
.m20b {margin-bottom: 20px;}
.m30b {margin-bottom: 30px;}
.m40b {margin-bottom: 40px;}
.m50b {margin-bottom: 50px;}
.m10r {margin-right: 10px;}
.m15l {margin-left: 15px;}
.m15t {margin-top: 15px;}
.m20r {margin-right: 20px;}
.m20t {margin-top: 20px;}
.m20tp {margin-top: 20%;}
.m15 {margin: 15px;}
.m15h {margin: 0 15px;}
.p10t {padding-top: 10px;}
.p10h {padding-right: 10px; padding-left: 10px;}
.p0r {padding-right: 0;}
.p70r {padding-right: 70px;}
.p70l {padding-left: 70px;}
.p5h {padding: 0 5px;}
.p20h {padding: 0 20px;}
.p20v {padding: 20px 0;}
.p25l {padding-left: 25px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.p10 {padding:10px;}
.p10b {padding-bottom:10px;}
.p45t {padding-top:45px;}
.p60t {padding-top:60px;}
.m60t {margin-top:60px;}
.p45li {padding-left: 45px !important;}
.m30v {margin: 30px 0;}
.m10h {margin:0 10px;}
.m10v {margin:10px 0;}
.m20v {margin:20px 0;}
.m30a {margin: 30px auto;}
.m-negative-l {margin-left: -0.9375rem;}
.br100 {border-radius: 100% !important;}
.lh {line-height: 0;}
.lh140 {line-height: 140%;}
.oh {overflow:hidden;}
.vm {vertical-align: middle;}
.vt {vertical-align: top;}
.ma { margin: 0 auto;}
.tu {text-transform: uppercase;}

.line {
  border-top: 1px solid #FFFFFF;
  margin: 0.7rem 0;
}

.line-white {
  border-top: 1px solid #fff;
  margin: 0.7rem 0;
}

.line-t {
  border-top: 1px solid #E9E9EC;
}

.line-b {
  border-bottom: 1px solid #E9E9EC;
}

.name-wallet {
  font-size: 14px;
  font-weight: 400;
  padding-top: 0 !important;
}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6 {
  /*line-height: 2.7rem;*/
  line-height: 3rem; /* tested on mac and win */
}

.wallet-settings{
  /*font-family: Arial; / * check on android */
  /*line-height: 1.3;*/
  font: normal normal normal 18px "foundation-icons";
}

.sidebar li.nav-item.selected .name-wallet {
  color: #fff;
}

.name-wallet i {
  color: #B6E9DF;
}

.locked {
  font-size: 11px;
  color: #7A8C9E;
}

.hidden {
  visibility: hidden;
}

/* Turn Off Number Input Spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner {
  display: inline-block;
}

.success {
  color: #1ABC9C;
}

.bg-success {
  background-color: #1ABC9C;
}

.tx-proposal i {
  padding: .1rem .3rem;
  background-color: #A5B2BF;
  border-radius: 100%;
  color: #fff;
}

.tx-proposal i.active {
  background-color: #A02F23;
}

.header-modal {
  width: 100%;
  padding: 0.8rem;
  position: relative;
}

.label {
  font-weight: 500;
  padding: 0.3rem 0.4rem;
}

.label.outline {
  background: transparent;
  border: 1px solid #4B6178;
}

.label.outline.gray {
  font-size: 90%;
  background: transparent;
  border: 1px solid #A9B6C2;
}

.label.success {background-color: #1ABC9C;}
.label.alert {background-color: #ED4A43;}
.label.gray {background-color: #4B6178;}
.label.light-gray {background-color: #7A8C9E;;}

.history .label  {
  width: 57px;
  text-align: center;
  font-size: 65%;
}

.bg-alert {
  background-color: #ED4A43;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.pagination li.current a {
  background: #1ABC9C;
}

input {
  border-radius: 2px;
  background: #EDEDED;
  color: #2C3E42;
  padding: 1.2rem 0.7rem;
  margin-bottom: 1.5rem;
  border: 0;
}

input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
  color: #6A7D90;
  margin-bottom: 1.5rem;
  height: 35px;
  background: transparent;
  border: none;
  padding-left: 0.1rem;
  font-size: 13px;
  border-bottom: 1px solid #A5B2BF;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
  color: #34495E;
  border-color: #A5B2BF;
  background: transparent;
}

input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  background-color: #E4E8EC;
  color: #2C3E50;
  padding-left: 0.5rem;
  opacity: 1;
}

select {
  background-color: transparent;
  color: #7A8C9E;
  border-color: #A5B2BF;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  color: #34495E;
  margin-bottom: 3px;
}

button.radius, .button.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


label small {
  font-size: 10px;
  color: #999;
}


label small.has-error {
  font-size: 11px;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  border: none;
}

thead tr{
  text-transform: uppercase;
}

table tr td, table tr th {
  padding: 15px;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #fff;
}

table tfoot tr td, table tfoot tr th, table thead tr td, table thead tr th {
  background-color: #F5F5F8;
  color:#949BAD;
  font-weight: normal
}

table tbody td {
  color: #7A8C9E;
  border-bottom: 1px solid #F1F1F3;
}

table tbody tr:last-child td {
  border-bottom: none;
}

.purge_chat {
  margin: auto;
  width: 100%;
  text-align: center;
  color: #883333;
}

.purge_chat a {
  color: #883333;
  text-decoration: underline;
}

.right-small a:hover, .left-small a:hover {
  color: #6D7884;
}

.alertModal {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 15%;
  z-index: 1100;
}

.passModal {
  background: #FFFFFF;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 8%;
  z-index: 1100;
}

.passModalMask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1099;
  opacity:0.75;
  background: black;
}
/*////////////////////////////  BUTTON OUTLINE  ////////////////////////////*/

.button.outline,
.button.outline:hover,
.button.outline:focus,
button.outline,
button.outline:hover,
button.outline:focus {
  background: transparent;
}

.button.outline.tiny,
.button.outline.tiny:hover,
.button.outline.tiny:focus,
button.outline.tiny,
button.outline.tiny:hover,
button.outline.tiny:focus {
  background: transparent;
}


.button.outline.dark-gray,
.button.outline.dark-gray:hover,
.button.outline.dark-gray:focus,
button.outline.dark-gray,
button.outline.dark-gray:hover,
button.outline.dark-gray:focus {
  background-color: transparent;
  border: 1px solid #A5B2BF;
  color: #A5B2BF;
}

.button.outline.light-gray,
.button.outline.light-gray:hover,
.button.outline.light-gray:focus,
button.outline.light-gray,
button.outline.light-gray:hover,
button.outline.light-gray:focus {
  background-color: transparent;
  border: 1px solid #CED5DC;
  color: #7A8C9E;
}

.button.outline.white,
.button.outline.white:hover,
.button.outline.white:focus,
button.outline.white,
button.outline.white:hover,
button.outline.white:focus {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* SECONDARY */
button.secondary,
button.secondary:hover,
button.secondary:focus,
.button.secondary,
.button.secondary:hover,
.button.secondary:focus {
  background-color: #008CC1;
  color: #fff;
}

/* PRIMARY */
button.primary,
button.primary:hover,
button.primary:focus,
.button.primary,
.button.primary:hover,
.button.primary:focus {
  background-color: #1ABC9C;
  color: #fff;
}

/* WARNING */
button.warning,
.button.warning,
button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus {
  background-color: #ED4A43;
  color: #fff;
}

/* WHITE */
button.white,
button.white:hover,
button.white:focus,
.button.w